<%= render :partial => 'layouts/head' %>
<body>
  <div>
    <div id="bd">
       <div id="nonav">
          <%= yield %>
      </div>
  </div>
</body>
<div id="ftlinks">
Powered by <a href="http://www.sonarsource.com" target="SonarSource" class="external">JROR Developer</a>
 - Open Source <a href="http://www.sonarsource.org/documentation/license/" target="license" class="external">LGPL</a>
 - v.<%= '1.0.0' -%>
 - <a href="http://sonar.codehaus.org/documentation" class="external" target="sonar_doc" class="external">Documentation</a>
 - <a href="http://sonar.codehaus.org/support/" target="support" class="external">Ask a question</a>
 - <a href="http://jira.codehaus.org/browse/SONAR" target="issuetracker" class="external">Bug/feature request</a>
</div>
</html>