<%= render :partial => 'layouts/head' %>
<body>
  <div>
    <div id="bd">
       <div id="nonav">
          <%= yield %>
      </div>
  </div>
</body>
<div id="ftlinks">
Powered by <a href="http://www.sonarsource.com" target="SonarSource" class="external">JROR Developer</a>
 - v.<%= '1.0.0' -%>
 - &copy; 2008-<%= Date.today.year %> 版权所有
</div>
</html>